/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
    /* Copy and paste your work from yesterday here and start to refactor into flexbox */
nav {
    display: flex;
    justify-content: space-evenly;
    width: 876px;
    
}
 .container {
	width: 80%;
	margin: 0 auto;
}

a {
    text-decoration: none;
    color: #c4c4c4;
    padding-top: 10px;
    padding-right: 64.5px;
}

a:hover {
    color: limegreen;
}

.sect1 {
 display: flex;
 justify-content: space-evenly;
 align-content: center;
 justify-content: ceneter;
 margin-top: 50px;
}

h1 {
    padding-top: 75px;
    font-size: 80px;
    text-align: center;
}

.circle {
    padding-top: 40px;
}

button {
	width: 170px;
	height: 35px;
	font-size: 20px;
	background-color: white;
    border: 1px solid black;
    
}

.button {
	margin-left: 325px;
    margin-top: -90px;
}

button:hover {
    color: limegreen;
}
.hr1 {
	margin-top: 120px;
	border: 1px solid black;
	width: 876px;
	margin-right: 260px;
}

.sect2 {
    display: flex;
    width: 876px;
    justify-content: space-between;
    margin-left: 210px;
    margin-top: 50px;
}

.picture {
    display: flex;
    justify-content: center;
    padding-right: 50px;
    padding-top: 50px;
}

.sect3 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 876px;
    margin-left: 210px;
    margin-top: 50px;
   }

footer div {
    width: 200px;
    margin-left: 375px;
    margin-top: 50px;

}

.hr2 {
    margin-top: 100px;
	border: 1px solid black;
    width: 876px;
    
}

.tester {
    
    margin-right: 50px;
}

.copyright {
    display: flex;
    justify-content: center;
}


header {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.ddui {
    display: flex;
}

.sect1 h1 {
    margin-left: 110px;
   
}

.circle {
    margin-right: 100px;
    
}
button {
    color: black;
}